* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; /* bu nedir */
  font-family: sans-serif;
}

header {
  background-color: lightgreen;
  display: flex;
  align-items: center;
  height: 100px;
  /*  margin: 0px 100px; */
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: gold;
  width: 100%;
  height: 20px;
  padding: 0px 100px;
}

ul {
  display: flex;
  list-style: none;
  /*  justify-content: space-between; */
  /* gap: 40px; */ /* terpenmeyecek */
  /* background-color: red; */
  /* width: 400px; */
  gap: 30px;
}




main section { 

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;

}


main section .box{
  height: 250px;
  width: 230px;
  border: 4px solid black;
  border-radius: 10px;
  background-color: blue;
  
}
main section .box1{
  height: 250px;
  width: 230px;
  border: 4px solid black;
  border-radius: 10px;
  background-color: rgb(255, 153, 0);
}


footer{
  height: 100px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 521px) {
  main section{
    justify-content: center;
  }
}
@media (max-width: 477px) {
  .container {
    
    padding: 0px 20px;
  }
}

/**  flex box  */

/**  responsive design  */
